#drawing-container{
    justify-content: 'center';
    align-items: 'center';
    flex-direction: 'row';
}

#paint-menu{
    display: "flex";
    flex-direction: "column";
    justify-content: 'center';
    align-items: 'center';
}