.GameScreen{
    display: flex;
    justify-content: center;
}


#PaintMenu{
    background-color: #9E83D4;
    color:white;
    border-radius: 10px;
    padding:20px;
    width:150px;
    margin-top:105px;
}

#PaintMenu > #stroke{
    width: 100px;
}

#PaintMenu > #leave-game{
    margin-top: 150px;
}

#DrawingDashboard{
    width: 500px;
    height: 100px;
    background-color: #9E83D4;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#DrawingDashboard h4{
    color:#3D2175;
}


#PlayersInLobby{
    background-color: #9E83D4;
    color:white;
    padding:10px;
    padding-top:30px;
    margin-top:105px;
    border-radius: 10px;

}

#PlayersInLobby > ul{
    list-style: none;
    padding-left: 0;
    font-size: 0.7em;
    text-overflow: ellipsis;
}




#PlayersInLobby > ul >  .player-turn{
    padding:10px;
    border-bottom:2px solid white;
}
