.host-css {
  margin: 2rem;
}
.host-css > span {
  color: blue;
  font-weight: bold;
}
.host-css > button {
  margin-right: 1rem;
}

.host-css #game-lobby-list {
  list-style: none;
  padding: 10px;
  width: fit-content;
  border: 0.1rem solid blue;
}
